.navigation-wrapper {
  display: contents;
}
 
.navigation-container1 {
  display: contents;
}
 
.navigation-navlink10 {
  display: contents;
}
 
.navigation-thq-navigation-logo-link-elm1 {
  text-decoration: none;
}
 
.navigation-navlink11 {
  display: contents;
}
 
.navigation-thq-navigation-link-elm1 {
  text-decoration: none;
}
 
.navigation-navlink12 {
  display: contents;
}
 
.navigation-navlink13 {
  display: contents;
}
 
.navigation-navlink14 {
  display: contents;
}
 
.navigation-navlink15 {
  display: contents;
}
 
.navigation-thq-navigation-mobile-overlay-elm {
  display: flex;
}
 
.navigation-navlink16 {
  display: contents;
}
 
.navigation-thq-navigation-logo-link-elm2 {
  text-decoration: none;
}
 
.navigation-navlink17 {
  display: contents;
}
 
.navigation-thq-navigation-mobile-link-elm1 {
  text-decoration: none;
}
 
.navigation-navlink18 {
  display: contents;
}
 
.navigation-navlink19 {
  display: contents;
}
 
.navigation-navlink20 {
  display: contents;
}
 
.navigation-navlink21 {
  display: contents;
}
 
.navigation-container2 {
  display: none;
}
 
.navigation-container3 {
  display: contents;
}
 
@media(max-width: 479px) {
  .navigation-thq-navigation-mobile-overlay-elm {
    display: none;
  }
}

footer-wrapper.footer-wrapper {
  display: contents;
}
 
.footer-container1 {
  display: contents;
}
 
.footer-link1 {
  display: contents;
}
 
.footer-link2 {
  display: contents;
}
 
.footer-link3 {
  display: contents;
}
 
.footer-thq-footer-link-elm6 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm7 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm8 {
  text-decoration: none;
}
 
.footer-thq-footer-link-elm9 {
  text-decoration: none;
}
 
.footer-link4 {
  display: contents;
}
 
.footer-link5 {
  display: contents;
}
 
.footer-link6 {
  display: contents;
}
 
.footer-link7 {
  display: contents;
}
 
.footer-container2 {
  display: none;
}
 
.footer-container3 {
  display: contents;
}

.projects-renovations-container1 {
  width: 100%;
  min-height: 100vh;
}
 
.projects-renovations-link1 {
  display: contents;
}
 
.projects-renovations-link2 {
  display: contents;
}
 
.projects-renovations-thq-section-content-elm36 {
  opacity: 0.7;
  font-size: var(--font-size-xs);
  margin-top: var(--spacing-md);
}
 
.projects-renovations-container2 {
  display: none;
}
 
.projects-renovations-container3 {
  display: contents;
}
